@charset "UTF-8";

@import "_variables";
@import "_sass-ems";
@import "_breakpoints";

// -- MIXINS

@mixin theme-background($height, $padding-bottom) {
  background: $background-theme;
  height: $height;
  padding-bottom: $padding-bottom;
}

@mixin bg-image-header($path-image, $height) {
   background-image: url($path-image);
   background-repeat: no-repeat;
   background-size: 100% 530px;
   height: $height;
}

@mixin link-with-logo($margin-left, $margin-top) {
  display: inline-block;
  color: transparent;
  background-image: url('#{$path-logo-svg}');
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 38px;
  margin-left: $margin-left;
  margin-top: $margin-top;
  &:link,
  &:visited {
    color: transparent;
  }
}

@mixin page-headline($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $align-center;
  color: $c-secondary;
  margin-top: 85px;
}

@mixin remove-button-appearance {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

@mixin text-button {
  color: $c-primary;
  font-size: $font-size-base;

  &:hover {
    cursor: pointer;
  }
}

@mixin cart-button($padding) {
  @include remove-button-appearance;

  background: $c-primary;
  border-radius: 6px;
  padding: $padding;
  font-size: $font-size-base;
  color: $c-secondary;
  min-width: 27px;
  min-height: 27px;
  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background: $c-primary-lighter;
  }
}

@mixin copy-right($color, $font-weight) {
  color: $color;
  font-weight: $font-weight;
}

@mixin grid($width) {
  width: 100%;
  margin-left: 0px;
    @include breakpoint('md') {
      float: left;
      width: $width;
  }
}

@mixin border-dashed($min-height) {
  min-height: $min-height;
  border-color: $c-secondary-darker;
  padding-left: 8px;
  padding-right: 8px;
  border-style: dashed;
  border-width:1px;
  margin-top: $margin-top-box;
}

@mixin text-value {
  font-weight: $font-weight-bold;
  float: right;
  margin-top: 0px;
}

@mixin text-description($min-height) {
  min-height: $min-height;
  margin-top: -10px;
  margin-left: 5px;
}

@mixin cart-title {
  font-size: $font-size-table-header;
  color: $c-primary;
  font-weight: $font-weight-regular;
}

@mixin final-output-title {
  font-size: $font-size-final-output;
  color: $c-primary;
  font-weight: $font-weight-bold;
  display: inline-block;
  min-width: 75px;
}

@mixin cart-checkout($text-align, $margin-top, $margin-bottom) {
  text-align: $text-align;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}

