@charset "UTF-8";

@import "../../libs-polyfills/sass/_variables";
@import "../../libs-polyfills/sass/_mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

// -- Styles

// Universal Box Sizing with Inheritance
// https://css-tricks.com/box-sizing/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: $line-height-factor-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  margin: 0px;
  padding: 0px;
}

h2 {
 font-size: $font-size-headline-component-large;
 color: $c-primary;
 font-weight: $font-weight-regular;
 margin-top: $vertical-rythm-spacing-text;
}

h3 {
 font-weight: $font-weight-bold;
}

hr {
  border: 1px solid $c-secondary-darker;
}

.dashed {
  border: 1px dashed $c-secondary-darker;
}

thead tr th {
  border-bottom: 1px dashed $c-secondary-darker;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $horizontal-rythm-spacing-text;
  padding-right: $horizontal-rythm-spacing-text;
  max-width: $page-max-width;
  box-sizing: border-box;
}

.is-hidden {
  display: none;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.is-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);

  // Extends the .visuallyhidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p
  &.is-focusable:focus {
    position: static;
    clip: auto;
  }
}

.none {
  margin-left: -41px;
  margin-top: 18px;
  list-style-type: none;
}

.inline-block {
  display: inline-block;
}

.row {
    width: 100%;
    margin: 0 auto;
    margin-top: -30px;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.column {
    margin: 0.5em 1%;
    padding: 1em 0;
}
