@charset "UTF-8";

.cart-checkout-price {
  @include cart-checkout(right, -12px, 0px);
}

.cart-checkout-vat {
  @include cart-checkout(right, -24px, -12px);
}

.cart-checkout-total {
  @include cart-checkout(right, -24px, -24px);
}

.shoppingcart {
  background-color: $background-theme-cart;
  padding-right: $vertical-rythm-spacing-text;
  padding-left: $vertical-rythm-spacing-text;
  padding-top: $vertical-rythm-spacing-default;
  padding-bottom: $vertical-rythm-spacing-default;
}

// Call cart-button mixin.
.cart-button {
  @include cart-button(5px);
}

.cart-button-checkout {
  @include cart-button($vertical-rythm-spacing-text);
}

// Call cart-title mixin.
.cart-title {
  @include cart-title;
}

.final-output-title {
  @include final-output-title;
}

// Full width in table.
.cart-table {
  width: 100%;
}

.cart-child-max {
  width: 80%;
}

.cart-child-min {
  width: 10%;
}

.padding-cart-price {
  padding-right: $horizontal-rythm-spacing-text;
}

.input-price {
  width: 39px;
  margin-left: -3px;
}

.margin-top-quant {
  margin-top: 18px;
  margin-left: 7px;
}

.min-width-total {
  min-width: 75px;
}
