@charset "UTF-8";

/*********************
RESPONSIVE BREAKPOINT
**********************/

//targeting >=0 && <=799px devices (e.g. all iPhones <6)
@include breakpoint('xs') {
  // height, padding-bottom
  .page-header {
    @include theme-background($page-small-x2-header, $vertical-rythm-spacing-text);
  }
  // background-image, height
  .bg-image {
    @include bg-image-header($path-image-title-small, $page-small-x2-header);
  }
  // font-size, font-weight
  .page-headline {
    @include page-headline($font-size-headline-primary, $font-weight-bolder);
  }
}

//targeting >=800px tablets (e.g. portrait iPad)
@include breakpoint('md') {
  // height, padding-bottom
  .page-header {
    @include theme-background($page-large-x2-header, $vertical-rythm-spacing-text);
  }
  // background-image, height
  .bg-image {
    @include bg-image-header($path-image-title-large-2x, $page-large-x2-header);
  }
  // font-size, font-weight
  .page-headline {
    @include page-headline($font-size-headline-primary-large, $font-weight-regular);
  }
}

// args(margin-left, margin-top).
.homepage-link-header {
  @include link-with-logo(30px, $vertical-rythm-spacing-text);
}
