@charset "UTF-8";

// args(height, padding-bottom).
.page-footer {
   @include theme-background($page-large-footer, $vertical-rythm-spacing-text);
}
// args(margin-left, margin-top).
.homepage-link-footer {
    @include link-with-logo(30px, $vertical-rythm-spacing-text);
}
// args(color, font-weight).
.copy-right {
    @include copy-right($c-secondary, $font-weight-bolder);
}
