@charset "UTF-8";

.text-button {
  @include text-button;
}

.column.col-3 {
  @include grid(18%);
}

.column.col-5 {
  @include grid(38%);
}

.column.col-6 {
  @include grid(48%);
}

.column.col-7 {
  @include grid(58%);
}

.column.col-9 {
  @include grid(78%);
}
