@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 35px;
  color: #311b92;
  font-weight: 300;
  margin-top: 10px;
}

h3 {
  font-weight: 400;
}

hr {
  border: 1px solid #cccccc;
}

.dashed {
  border: 1px dashed #cccccc;
}

thead tr th {
  border-bottom: 1px dashed #cccccc;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1180px;
  box-sizing: border-box;
}

.is-hidden {
  display: none;
}

.is-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-visually-hidden.is-focusable:focus {
  position: static;
  clip: auto;
}

.none {
  margin-left: -41px;
  margin-top: 18px;
  list-style-type: none;
}

.inline-block {
  display: inline-block;
}

.row {
  width: 100%;
  margin: 0 auto;
  margin-top: -30px;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.column {
  margin: 0.5em 1%;
  padding: 1em 0;
}

/*********************
RESPONSIVE BREAKPOINT
**********************/
@media (min-width: 0) {
  .page-header {
    background: linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
    height: 280px;
    padding-bottom: 10px;
  }
  .bg-image {
    background-image: url("themes/netcentric/title.small.png");
    background-repeat: no-repeat;
    background-size: 100% 530px;
    height: 280px;
  }
  .page-headline {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-top: 85px;
  }
}

@media (min-width: 50em) {
  .page-header {
    background: linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
    height: 350px;
    padding-bottom: 10px;
  }
  .bg-image {
    background-image: url("themes/netcentric/title.large.2x.png");
    background-repeat: no-repeat;
    background-size: 100% 530px;
    height: 350px;
  }
  .page-headline {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-top: 85px;
  }
}

.homepage-link-header {
  display: inline-block;
  color: transparent;
  background-image: url("themes/netcentric/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 38px;
  margin-left: 30px;
  margin-top: 10px;
}

.homepage-link-header:link, .homepage-link-header:visited {
  color: transparent;
}

.page-footer {
  background: linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
  height: 70px;
  padding-bottom: 10px;
}

.homepage-link-footer {
  display: inline-block;
  color: transparent;
  background-image: url("themes/netcentric/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  height: 38px;
  margin-left: 30px;
  margin-top: 10px;
}

.homepage-link-footer:link, .homepage-link-footer:visited {
  color: transparent;
}

.copy-right {
  color: #fff;
  font-weight: 600;
}

.text-button {
  color: #311b92;
  font-size: 16px;
}

.text-button:hover {
  cursor: pointer;
}

.column.col-3 {
  width: 100%;
  margin-left: 0px;
}

@media (min-width: 50em) {
  .column.col-3 {
    float: left;
    width: 18%;
  }
}

.column.col-5 {
  width: 100%;
  margin-left: 0px;
}

@media (min-width: 50em) {
  .column.col-5 {
    float: left;
    width: 38%;
  }
}

.column.col-6 {
  width: 100%;
  margin-left: 0px;
}

@media (min-width: 50em) {
  .column.col-6 {
    float: left;
    width: 48%;
  }
}

.column.col-7 {
  width: 100%;
  margin-left: 0px;
}

@media (min-width: 50em) {
  .column.col-7 {
    float: left;
    width: 58%;
  }
}

.column.col-9 {
  width: 100%;
  margin-left: 0px;
}

@media (min-width: 50em) {
  .column.col-9 {
    float: left;
    width: 78%;
  }
}

.border-dashed {
  min-height: 178px;
  border-color: #cccccc;
  padding-left: 8px;
  padding-right: 8px;
  border-style: dashed;
  border-width: 1px;
  margin-top: 10px;
}

.text-description {
  min-height: 119px;
  margin-top: -10px;
  margin-left: 5px;
}

.text-value {
  font-weight: 400;
  float: right;
  margin-top: 0px;
}

.cart-checkout-price {
  text-align: right;
  margin-top: -12px;
  margin-bottom: 0px;
}

.cart-checkout-vat {
  text-align: right;
  margin-top: -24px;
  margin-bottom: -12px;
}

.cart-checkout-total {
  text-align: right;
  margin-top: -24px;
  margin-bottom: -24px;
}

.shoppingcart {
  background-color: #f7f7f7;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-button {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: #311b92;
  border-radius: 6px;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  min-width: 27px;
  min-height: 27px;
}

.cart-button:hover {
  cursor: pointer;
}

.cart-button:hover, .cart-button:focus {
  background: #7b64e2;
}

.cart-button-checkout {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: #311b92;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  min-width: 27px;
  min-height: 27px;
}

.cart-button-checkout:hover {
  cursor: pointer;
}

.cart-button-checkout:hover, .cart-button-checkout:focus {
  background: #7b64e2;
}

.cart-title {
  font-size: 25px;
  color: #311b92;
  font-weight: 300;
}

.final-output-title {
  font-size: 22px;
  color: #311b92;
  font-weight: 400;
  display: inline-block;
  min-width: 75px;
}

.cart-table {
  width: 100%;
}

.cart-child-max {
  width: 80%;
}

.cart-child-min {
  width: 10%;
}

.padding-cart-price {
  padding-right: 10px;
}

.input-price {
  width: 39px;
  margin-left: -3px;
}

.margin-top-quant {
  margin-top: 18px;
  margin-left: 7px;
}

.min-width-total {
  min-width: 75px;
}
